.root{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.041);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.041);
    box-shadow: 1px 7px 10px -4px rgb(0 0 0 / 30%);
    margin-bottom: 20px;
    /* padding: 16px; */
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 700px;
    border-radius: 7px;
}

.image{
 width: 600px;
 height: 400px;
}

.container, form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input{
    font-family: 'Outfit', sans-serif;
    border-style: solid;
    border-width: 2px;
    border-color: #bdc3c7;
    -webkit-transition: border-color 0.6s;
    transition: border-color 0.6s;
    border-radius: 6px;
    padding: 6px 10px;
    outline: none;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: normal;
    font-size: 1em;
    width: 400px;
    /* width: 400px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid rgb(156, 21, 21);
    /* border-radius: 3px; */
    /* padding: 5px;
    outline: none;
    margin-top: 10px; */
}
.input:focus{
    border-color: #3d3d3d;
}
.marco{
    color: white;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    font-size: 30px;
    display: flex;
    background: rgb(235,50,40);
    background: linear-gradient(180deg, rgba(235,50,40,1) 0%, rgba(255,138,132,1) 100%);
    width: 700px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 7px 7px 0px 0px;
}

.image2{
    display: flex;
    /* filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); */
    object-fit: none;
    width: 300px;
    height: 100px;
    margin-right: 5px;
}

.label{
    width: 400px;
    display: flex;
    text-align: left;
    margin-bottom: 10px;
}
.error{
    color: red;
    margin-top: 10px;
}

.input2{
    margin-right: 10px;
}

.form{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form2{
    width: 400px;
    /* text-align: left; */
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.form3{
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
	flex-direction: column;
	align-items: center;
}

.content p{
    font-size: 18px;
    margin-bottom: 20px;
}

.content h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}
.content img {
    width: 100%;
    vertical-align: top;
    border-radius: 3px;
}

.buttonoff {
    display: block;
	padding: 10px 30px;
	border-radius: 100px;
	color: #fff;
	border:1px solid #5c5c5c;
	/* background:linear-gradient(to bottom, #ee362d 5%, #fc4141 100%); */
	background-color:#979797;
	/* cursor: pointer; */
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	transition: .3s ease all;
    margin-bottom: 20px;
		
}

.button {
    display: block;
	padding: 10px 30px;
	border-radius: 100px;
	color: #fff;
	border:1px solid #d83526;
	background:linear-gradient(to bottom, #ee362d 5%, #fc4141 100%);
	background-color:#ee362d;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	transition: .3s ease all;
    margin-bottom: 20px;
		
}

.button:hover{
    background:linear-gradient(to bottom, #fa8078 5%, #fc8d83 100%);
	background-color:#fa8078;
}

.button:active{
    position:relative;
	top:1px;
}

input[type=button]:disabled{
    background-color:#5c5c5c;
}
