.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    
    width: 500px;
    min-height: 100px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}


.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    padding-bottom: 10px;
    /* border-bottom: 1px solid #646464; */
}

.title h3{
    font-weight: 500;
    font-size: 16px;
    color: #ee362d;
}

.exit{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    color: #1766dc;

}