.root{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.error{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}